
body{
    background-color: white;
    margin: 0%;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align: center;
    color: #0c0664;
 
}
h2{
    text-align: center;
    margin: 4rem auto 4rem auto;
    font-size: xx-large;
   font-size: 4rem;
    color: #0c0664;
}

#parent-container{
    display: inline-block;
    justify-content: flex-start;
    align-items: start;
 
}

img{
    width: 15%;
    float: left;
    padding: 20px;
    padding-bottom: 60px;   
 
}

article{
  
    padding: 3%;
   flex-grow: 1;
}

p{
    color: #04435A;
    line-height: 1.5;
    font-size:xx-large;
    text-align: start;
}

