
body{
    background-color: white;
    margin: 0%;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align: center;
    color: #04435A;
}

#clock {
    text-align: center;
    margin: 4rem auto 4rem auto;
    font-size: xx-large;
   font-size: 4rem;
    color: #04435A;
}

#parent-container{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-content: center;
   align-items: center;
}

.flex-container{
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100vw;
}

img{
    width: 120px;
    padding: 20px;
    margin-left: 40px;
}


p{
    color: #04435A;
    line-height: 1.5;
    font-size: 2.5rem;
    text-align: start;
}



